#searchBar{
    margin-top: 30px;
    margin-left :30%;
    margin-right: 30%;
    margin-bottom: 30px;
    
}
.search__result{
    
    margin-left :30%;
    margin-right: 30%;
    
    border: 1px black solid;
}
.texte{
    text-align: center;
}

.bc-g{
    background-color: #71b978;
    border-radius: 20px;
    border-color: #71b978;
    margin-bottom: 5px;
}
.bp-bcy{
    margin-right: 20%;
    margin-left: 20%;
    background-color: #d2d53c;
    border-radius: 25px;
    border-color: #d2d53c;
}

