.big_m{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration-line: underline;
    color: black;
    padding: 5px;
}
.sma_o{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #291c0f;
    padding: 2px;
}
